<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    title Document
body
    header.section--welcome.site-header--welcome
        a(href="#").button.button--auth Авторизоваться

        .user.user--welcome
            .user-icon
                img.user__avatar(src="./img/avatar.jpg")
            h2.user__title Даниил Верещагин
            p.user__suptitle Личный сайт веб разработчика
            ul.socials
                li.socials__item: a(href="#").socials__link--vk: svg: use(xlink:href="./img/sprite.svg#vk")
                li.socials__item: a(href="#").socials__link--github: svg: use(xlink:href="./img/sprite.svg#github")
                li.socials__item: a(href="#").socials__link--in: svg: use(xlink:href="./img/sprite.svg#in")
                
            ul.main-menu--welcome
                - var menuitems = ['Мои работы', 'Обо мне', 'Блог'];
                - var menulinks = ['works.html','about.html','blog.html'];
                - for (var i=0; i<3;i++)
                    li.main-menu__item.main-menu__item--welcome: a.main-menu__link--welcome(href=menulinks[i])=menuitems[i]

