<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    title Document
body
    header.section--welcome.site-header--welcome
        a(href="#").button.button--auth Авторизоваться

        .user
            .user-icon
                img.user__avatar(src="./img/avatar.jpg")
            h2.user__title Даниил Верещагин