.block {
    position: relative;

    &__title {

        color:$white;
        font-size: 2rem;
        text-transform: uppercase;
        z-index: 2; 
        display: flex;
        align-items: center;
        justify-content: center;

        // position: absolute;
        // bottom: 10%;
        // left:50%;
        // transform: translateX(-50%);
        
        &--about {
            position: absolute;
            top:0;
           text-align: center;
           
            
        }
    }

    
}