.block {
    position: relative;
    &__title {
        color: #474b57;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-family: 'SansusWebsimmo', sans-serif;
        position: absolute; 
         z-index: 2;
         
        &--line {
            &-use {
                &::before {
            content: '';
            position: absolute;
            left:65%;
            transform: translate(-50%,-50%);
            top:100px;
            border:1px solid #9c9d9f;
            border-right:none;
            border-left: none;
            border-top:none;
            width: 80px;
            height: 15px;

            }
            }

        &::before {
            content: '';
            position: absolute;
            left:65%;
            transform: translate(-50%,-50%);
            bottom: -20px;
            border:1px solid #9c9d9f;
            border-right:none;
            border-left: none;
            border-top:none;
            width: 80px;
            height: 15px;
        }
        }
        &--pd50 {
            padding-top: 50px;
            text-align: center;
            padding-left: 120px;
            padding-right: 50px;
            color:#474b57;
        }

        &--about {
            position: absolute;
            top: 0;
            text-align: center;
        }
        &--weight {
            font-weight: bolder;
            font-size: 2rem;
            text-transform: uppercase;
            color: #474b57;
            padding: 0 80px;
            display: inline-block;
        }
        &--right {
            padding-bottom: 50px;
            padding-left: 150px;
            text-align: center;
        }
        &--works {
            top: 90%;
            left:50%;
            transform: translate(-50%,-50%);
           
            color:white;
        }
        &__suptitle {
            color: #474b57;
            font-size: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            padding: 50px 0;
            font-family: 'SansusWebsimmo', sans-serif;
        }
    }
}