.star {

    &__img {
        z-index: 0;
        position: absolute;
        left:50%;
        top:90%;
        transform: translate(-50%,-50%);


        &--about {
        position: absolute;
        top:0;
        left:45%;
        z-index:0;
        }
    }

    
}