.user {

    position: absolute;
    top:130px;
    left:50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    font-family: 'Roboto',sans-serif;


    &--welcome {
       background: rgba(#182742,0.8);
        top:50%;
        padding:40px 60px;
        padding-top:40px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;

              
    }
    &--works {
       top:200px;
    }
    &__suptitle {
        padding-top:30px;
    }

    &--blog {
        top:130px;
    }

    &__title {

        &--weight {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 3rem;

        }
    }

    &__avatar {

        width: 100px;
        height: 100px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;

        }
    }

}