.user {

    position: absolute;
    top:130px;
    left:50%;
    widows: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    font-family: 'Roboto',sans-serif;

    &--blog {
        top:130px;
    }

    &__title {

        &--weight {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 3rem;

        }
    }

}